<div class="floating-header">
    <div class="floating-header-logo"></div>


        <div class="floating-header-title">
            <h4>{{title}}</h4>

            <a class="floating-header-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">{{> "icons/facebook"}}</a>

            <a class="floating-header-share-tw" href="https://twitter.com/share?text={{encode @blog.title}}&nbsp;-&nbsp;{{encode title}}&amp;url={{url absolute="true"}}"
                onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">{{> "icons/twitter"}}</a>
        </div>


    <nav class="site-nav">
        <div class="nav-main">
            {{#if @blog.navigation}}
                {{navigation}}
            {{/if}}
        </div>
    </nav>
    <progress class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>
