<div class="mobile-menu">{{> "icons/mobile"}}</div>
<nav class="site-nav">
    <div class="nav-social">
        {{#if @blog.facebook}}
            <a class="social-link social-link-fb" href="{{facebook_url @blog.facebook}}" target="_blank">{{> "icons/facebook"}}</a>
        {{/if}}
        {{#if @blog.twitter}}
            <a class="social-link social-link-tw" href="{{twitter_url @blog.twitter}}" target="_blank">{{> "icons/twitter"}}</a>
        {{/if}}

        {{#if @labs.subscribers}}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {{else}}
            <a class="rss-button" href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/" target="_blank">{{> "icons/rss"}}</a>
        {{/if}}
    </div>


    <div class="nav-main">
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </div>
</nav>
